@import url('https://fonts.googleapis.com/css?family=Lato:300|Lobster|Playfair+Display:900');

body {
  background-color: #efefef;
  position: relative;
}

a, .btn a {
  text-decoration:none;
  color: #5E2E30;
  cursor: crosshair;
}

a:hover {
  color: #5E2E30;
}

/*Home Styles*/
.header {
position:relative;
width:100%;
height:100vh;
background-image:url(../img/tq-burg.png);
background-repeat: no-repeat;
background-position: center;
background-size: 175px;
}

/*About Me Styles*/

.left-col h1 {
  color: #5E2E30;
  font-family: 'Lato', Cursive;
  font-size: 5em;
  margin-bottom: 0px;
  text-shadow: 1px 1px 2px #313;
}
.left-col h3 {
  margin-top: 0px;

}
.right-col .year {
  font-family: 'Playfair Display';
  font-weight: 900;
  position: absolute;
  z-index: -1;
  color: rgba(51, 51, 51, 0.1);
  font-size: 170px;
}

.right-col {
  background-image:url('../img/tan.jpg');
}
.aboutme {
  margin: 10% auto;
  height:500px;
}


/*Carousel Styles*/
.item {
  height: 650px;
  background-size: cover;
  background-position: center;
}

#herobg {
  background-image: url('../img/tqfinal.png');
  background-size: contain;
  background-repeat: no-repeat;
}

/*.carousel-caption {
  color: #red;
}*/

#slide-logo {
  height: 250px;
}

.flex {
  display: flex;
  align-items: center;
  height: 550px;
}

#retro1bg {
  background-image: url('../img/goku1.JPG');
}

#glowbg {
  background-image: url('../img/glow.JPG');
}

.btn-warning {
  background-color: #F8512F;
  border-color: #F8512F;
}

.btn-danger:hover {
  background-color: #D34326;
  border-color: #D34326;
  cursor: crosshair;
}

.carousel-caption {
  margin-bottom: 45px;
}

/*Extra Styles*/

#extra {
  height: 750px;
  background-image: url('../img/grad.jpeg');
  background-size: contain;
  background-attachment: fixed;
}
.fresno {
  height: 200px;
  background-color: rgba(51, 51, 51, 0.5);
  border-radius: 5px;
}
.fresno h1 {
  color: #5E2E30;
  font-family: 'Lato', Cursive;
  font-size: 5em;
  margin-bottom: 0px;
  text-shadow: 1px 1px 2px #313;
}

.fresno p {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
  line-height: 36px;
  font-family: 'Lato' , sans-serif ;
  text-shadow: 1px 1px 2px #333;
}

.extrasection .flex {
  display: flex;
  align-items: center;
  height: 550px;
}

/*Corner Styles*/


.topbar, .bottombar{
position:fixed;
width:100%;
height:50px;
background-color:#999eff;
z-index:100;
}

.bottombar{
bottom:0;
}

.section_button {
	position: fixed;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 8px;
	text-transform: uppercase;
	margin: 15px;
	width: auto;
	height: auto;
	cursor: crosshair;
	z-index: 100;
	text-align:left;
  color: #B10007;
}

#work_example01, #work_example01_button, #work_example02, #work_example02_button, #work_example03, #work_example03_button, #work_example04, #work_example04_button, .section_button {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.section_button a:link {
color:#000000;
text-decoration: none;
}
.section_button:hover {
  text-transform:lowercase;
}

.work{
right: 0;
text-align:right;
}

.about{
bottom:0;
text-align:left;
}

.contact{
right: 0;
bottom:0;
text-align:right;
}

@media all and (max-width: 540px) {

.section_button {
	font-size: 18px;
	line-height: 16px;
	font-weight: 300;
	letter-spacing: 1.4vw;
	margin: 15px;
	height:60px;
}

/*.contact, .about{
display: flex;
justify-content: flex-end;
align-items: flex-end;
}*/

.topbar, .bottombar{
height:45px;
}

/*Contact Form Styles*/
